.container {
  margin: 30px auto;
  width: 100%;
}

.container h1 {
  font-family: "Roboto";
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: auto auto;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.btn {
  background: #08d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Yuji Hentaigana Akari";
  font-weight: 800;
  outline: none;
}

.btn a {
  text-decoration: "none";
}
